nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25%;
    background-color: rgb(0, 0, 0);

    margin-top: 5vh;
    height: 15vh;
    transition: all .3s ease-in-out;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

ul li {
    list-style: none;
    transition: all .3s ease-in-out;
    animation: float infinte linear;
    font-size: larger;
}

ul li:hover {
    transition: all .3s ease-in-out;
    border-bottom: 2px solid;
    animation: l-hover infinte alternate;
    cursor: pointer;
}

/* profile Image */
.profile-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;

    background-color: whitesmoke;
}

@keyframes l-hover {
    /* add border-bottom l - r */
}

@media screen and (max-width: 512px) {
    nav h1 {
        display: none;
        max-width: 50%;
    }

    nav ul {
        display: none;
    }
}